

@CHARSET "UTF-8"

.progress-bar {
    color: #333;
} 


* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

    .form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	}

body {
	background: #222d32;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('../../../dist/img/Dojo2.jpg');
}
#ModalCont {
	
    background-image: url('../../../dist/img/Texture_Dark.jpg');
}
    #ModalCont h3, p {
        color:#fff;
    }
body #modalid {
    /* new custom width */
    width: 25%;
    
}

.login-form {
	margin-top: 60px;
}

form[role=login] {
	color: #5d5d5d;
	background: #000;
    background-image: url('../../../dist/img/Texture_Dark.jpg');
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}


	form[role=login] h1 {
		color: #fff;

	}
    	form[role=login] h3 {
		color: #fff

	}
	form[role=login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=login] input,
	form[role=login] button {
		font-size: 18px;
		margin: 16px 0;
	}
	form[role=login] > div {
		text-align: center;
	}
	
.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
	.form-links a {
		color: #000;
	}
.closeModal {
    color:#fff;
}

#logo-pass {
    text-align: center;
    width:50%;
    height:50%;

}
#infoRestablecer {
    text-align:left;
}
